* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
}
section {
  margin-bottom: 30px;
}
.section-heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Personal Info */
.personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 28px;
  margin-bottom: 5px;
}
.contacts {
  font-size: 13px;
}
.bold-span {
  font-weight: bold;
}
.personal-info {
  font-size: 13px;
  text-align: center;
  width: 70%;
  margin-top: 5px;
}
.course {
  font-weight: bold;
  font-size: 18px;
}
hr {
  margin-bottom: 10px;
}
.cgpa {
  font-size: 14px;
  margin-left: auto;
  align-self: center;
  font-style: italic;
}

/* Education */
.education {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}
.education > div:nth-of-type(2),
.experience > div:last-of-type, 
.project > div:last-of-type {
  margin-left: 20px;
}
.timeline {
  font-weight: bold;
  white-space: nowrap;
}

/* Experience */
.experience {
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-bottom: 20px;
}
.tasks {
  margin-left: 20px;
}
.tasks > li {
  margin-top: 2px;
}
.tasks-txt {
  font-size: 14px;
  margin-top: 2.5px;
}

/* Projects */
.project {
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
}
.tech-stack {
  font-size: 14px;
  color: gray;
  margin-top: 3px;
}
.about {
  font-size: 14px;
  margin-top: 3px;
}

/* Achievements */
.achievement {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}
.achievement > div:last-of-type {
  margin-left: 20px;
}
.achievement-title {
  font-weight: bold;
}
.achievement-description {
  font-size: 14px;
  line-height: 1.2em;
}
.achievement-description > a {
  text-decoration: none;
  color: gray;
  font-style: italic;
}

/* Skills */
.skills {
  margin-bottom: 30px;
}
.skills-li {
  display: flex;
  flex-wrap: wrap;
}
.skills-li > li {
  border: 1px solid black;
  list-style-type: none;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  /* color: white;
  background-color: rgba(0, 0, 0, 0.8); */
}
#last {
  margin-top: 10px;
}

/* Certifications */
.certification {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.tech-stack.certificate-offer {
  font-style: italic;
}
.certification > div:last-of-type {
  margin-left: 20px;
}